footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $blue-very-dark;
}

.footer {
    display: flex;
    justify-content: space-between;    
    height: 88px;
    width: 100%;
    max-width: $max-width-desktop;
    @include phone {
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 45px;
    }
    .footer-menu {
        display: flex;
        align-items: center;
        padding-left: 5px;        
        .brand {
            margin-right: 30px;
        }
        ul.menu {            
            li.menu-item {         
                a {
                    color: white;                    
                    &:hover {
                        color: $red-soft;
                    }
                }        
            }
        }
        @include phone {
            flex-direction: column;
            align-items: center;
            .brand {
                margin-right: 0;
            }
            ul.menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                li.menu-item {                    
                    a {
                        font-size: 16px;
                        height: 50px;                   
                    }
                }                
            }
        }
    }
    .footer-social {
        display: flex;
        align-items: center;
        @include phone {
            margin-top: 30px;
            padding-bottom: 30px;
        }
        a:first-child {
            margin-right: 45px;
        }
        a {
            svg {
                fill: white;
            }
            &:hover {
                svg {
                    fill: $red-soft;
                }
            }
        }
        
    }
}

.attribution {
    display: flex;
    width: 100%;
    background: black;
    padding: 20px;
    color: white;
    p { 
        width: 100%;
        text-align: center;
        br {
            display: none;
        }
        @include phone {
            br {
                display: inline;
            }
        }
    }
    a {
        text-decoration: none;
        color: $blue-grayish;
        font-weight: 500;
        &:hover {
            color: $blue-soft;
        }
    }
}
